EleganciaDesktop/Elegancia/Web References/EleganciaService/Productos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Existencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Sku" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExistenciaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistenciaNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistenciaNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExistenciaNombreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sucursales">
        <s:complexType />
      </s:element>
      <s:element name="SucursalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SucursalesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ExistenciaSoapIn">
    <wsdl:part name="parameters" element="tns:Existencia" />
  </wsdl:message>
  <wsdl:message name="ExistenciaSoapOut">
    <wsdl:part name="parameters" element="tns:ExistenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ExistenciaNombreSoapIn">
    <wsdl:part name="parameters" element="tns:ExistenciaNombre" />
  </wsdl:message>
  <wsdl:message name="ExistenciaNombreSoapOut">
    <wsdl:part name="parameters" element="tns:ExistenciaNombreResponse" />
  </wsdl:message>
  <wsdl:message name="SucursalesSoapIn">
    <wsdl:part name="parameters" element="tns:Sucursales" />
  </wsdl:message>
  <wsdl:message name="SucursalesSoapOut">
    <wsdl:part name="parameters" element="tns:SucursalesResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductosSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Existencia">
      <wsdl:input message="tns:ExistenciaSoapIn" />
      <wsdl:output message="tns:ExistenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExistenciaNombre">
      <wsdl:input message="tns:ExistenciaNombreSoapIn" />
      <wsdl:output message="tns:ExistenciaNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sucursales">
      <wsdl:input message="tns:SucursalesSoapIn" />
      <wsdl:output message="tns:SucursalesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductosSoap" type="tns:ProductosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Existencia">
      <soap:operation soapAction="http://tempuri.org/Existencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistenciaNombre">
      <soap:operation soapAction="http://tempuri.org/ExistenciaNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sucursales">
      <soap:operation soapAction="http://tempuri.org/Sucursales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductosSoap12" type="tns:ProductosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Existencia">
      <soap12:operation soapAction="http://tempuri.org/Existencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistenciaNombre">
      <soap12:operation soapAction="http://tempuri.org/ExistenciaNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sucursales">
      <soap12:operation soapAction="http://tempuri.org/Sucursales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Productos">
    <wsdl:port name="ProductosSoap" binding="tns:ProductosSoap">
      <soap:address location="http://localhost/EleganciaWebService/Productos.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductosSoap12" binding="tns:ProductosSoap12">
      <soap12:address location="http://localhost/EleganciaWebService/Productos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>